.carteles{
    width: 71vw;
    position: absolute;
    left: 15vw;
    top: 60vw;
    z-index: 0;
}
.edificios{
    position: absolute;
    width: 9vw;
    height: 9vw;
    transform: skew(-420deg,-330deg);
    display: flex;
    z-index: 4;
}
.edificios img{
    width: 80%;
    margin: auto;
    cursor: pointer;
    transition: width .5s;
    position: relative;
}
.edificios img:hover{
    width: 87%;
}
.edificios img:hover + .tituloMenuRebel{
    opacity: 1;
}
.edificios .tituloMenuRebel{
    position: absolute;width: 6vw;height: 2vw; background-color: white;border-radius: .2vw .2vw; box-shadow: 0px 0px .5vw .5px #000000;display: flex;left: 2vw;top: -.5vw;opacity: 0;transition: opacity .5s;
}
.edificios .tituloMenuRebel span{
    margin: auto;font-size: .8vw;text-align: center;
}
.telefonoIn{
    width: 13vw;
    height: 20vw;
    position: absolute;
    right: -14vw;
    bottom: 8vw;
    background-image: url("../img/cristhian/telefono.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}
.telefonoIn .countViajes{
    margin: auto;
    width: 5vw;
    height: 5vw;
    background-color: black;
    margin-bottom: 2vw;
    border-radius: 1vw;
    display: flex;
}
.telefonoIn .countViajes span{
    color: white;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.letrero, .letrero2{
    width: 55vw; 
    margin: auto; 
    height: 15vw; 
    background-color: black; 
    position: relative; 
    margin-bottom: -10vw; 
    top: -35vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.letrero2{
    margin-top: 4vw;
}
.letrero2 .titulo{
    font-size: 4.5vw;
    color: white;
    margin: auto;
    margin-bottom: 0vw;
}
.letrero2 .subtitulo{
    font-size: 2vw;
    color: white;
    margin: auto;
    margin-top: 0vw;
}
.persona{
    width: 19vw; 
    margin: auto;
    position: absolute; 
    left: -5vw; 
    margin-bottom: auto; 
    top: 27vw; 
    z-index: 2;
}
.nubes{
    width: 200vw; 
    margin: auto; 
    position: absolute; 
    left: -50vw; 
    margin-bottom: auto; 
    top: -5vw;
}
.ciudad{
    width: 500vw; 
    margin: auto; 
    position: absolute; 
    left: -250vw; 
    margin-bottom: auto; 
}
.carretera{
    width: 100vw; 
    margin: auto; 
    height: 30vw; 
    background-color: #8692A3; 
    position: relative; 
    top: 30vw; 
    margin-top: 2vw; 
    display: flex; 
    background-image: url('../img/cristhian/carretera.png');    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 58% 101%;
}
.carro{
    width: 3vw;
    margin: auto; 
    position: relative; 
    margin-top: -1vw;
}
.divBtnInicio{
    width: 100%; height: 11vw; background-color: white; position: absolute;z-index: 0; bottom: 0vw; display: flex;
}
.divBtnInicio .botonesInicio{
    width: 15vw; height: 10vw; margin: auto;
    display: flex;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    transition: top .5s;
    top: 0vw;
}
.divBtnInicio .botonesInicio img{
    margin: auto; width: 10vw;
}
.divBtnInicio .botonesInicio span{
    font-size: 2vw;
    font-weight: bold;
    margin: auto;
}
.divBtnInicio .botonesInicio:hover{
    top: 6.5vw;
}
.cuadriculaTexto{
    width: 50vw; height: 25vw; box-shadow: 0px 0px 15px 1px #000000; margin: auto; display: flex;
    flex-direction: column;
}
.cuadriculaTexto .txt{
    margin: auto;
    width: 90%;
    font-size: 2vw;
}
.lineaTiempo{
    width: 80vw; height: 25vw;  display: flex; flex-direction: column; margin: auto;position: relative;
}
.lineaTiempo .espLT{
    width: 80vw; height: 11.5vw; display: flex; margin: auto;
}
.infoLT{
    top: 0vw;margin: auto; z-index: 1;width: 100%; height: auto;margin-bottom: 1vw;
    font-size: 1vw;
    background-color: #357EA1;
    text-align: center;
    opacity: 0;
}
.barra{
    width: 0%; height: 1vw; display: flex; margin: auto; margin-left: 0vw; background-color: #357EA1;height: 2.5vw;
    opacity: 0;
}
/*Social*/
.social_menu{
    width: 60vw;height: 35vw; margin: auto; display: flex; flex-direction: column;
}
.social_menu .linea{
    width: 100%; height: 40%; display: flex;margin: auto;
}
.social_menu .linea .cuadro{
    width: 49%; height: 100%; display: flex; flex-direction: column;margin: auto;cursor: pointer;
}
.social_menu .linea .cuadro .socialBtn{
    width: 100%; height: 98%;  display: flex;
}
.social_menu .linea .cuadro .barraS{
    background-color: rgb(20, 105, 233); width: 0%; height: 2%; flex-direction: column;
}
.social_menu .linea .cuadro .socialBtn .imgS{
    width: 50%; height: 100%;overflow: hidden;
}
.social_menu .linea .cuadro .socialBtn .imgS img{
    margin: auto;
    width: 110%;
    position: relative;
}
.social_menu .linea .cuadro .socialBtn .txtS{
    width: 50%; height: 100%; display: flex; flex-direction: column;
}
.social_menu .linea .cuadro .socialBtn .txtS .tituloS{
     width: 100%; height: 50%; display: flex;
}
.social_menu .linea .cuadro .socialBtn .txtS .tituloS span{
    font-size: var(--letra-textos);
    margin: auto;margin-left: 1vw;margin-top: 1vw;
    width: 79%;
}
.social_menu .linea .cuadro .socialBtn .txtS .flechaS{
    width: 100%; height: 50%;display: flex;
}
.social_menu .linea .cuadro .socialBtn .txtS .flechaS img{
    width: 15%;
    height: 30%;
    margin-top: 30%;
    margin-left: 55%;
}
.blurSocial{
    position: absolute; width: 100%; height: 100%; background-color: rgba(104, 104, 104, 0.487); z-index: 3;display: flex;right: -100%;flex-direction: column;cursor: pointer;
}
.blurSocial .textoBlur{
    margin: auto;width: 65vw;height: 30vw;background-color: white;border: 1vw solid black;display: flex;
}
.blurSocial .textoBlur .txtB, .blurSocial .textoBlur .imgB{
    width: 50%; height: 100%;background-position: center;background-size: 100% 104%;display: flex;
}
.blurSocial .textoBlur .txtB span{
    margin: auto;font-size: var(--letra-textos);color: black;padding: 1vw;
}
.lineaTiempo .opt{
    width: 25%; height: 100%;display: flex;position: relative;margin-right: 2vw;
}
.lineaTiempo .opt img{
    width: 15vw;margin: auto;position: relative;top: 0vw;transition: top .5s;cursor: pointer;
}
.lineaTiempo .opt img:hover{
    top: -1vw;
}
.letrero2.cursor{
    cursor: pointer; top: 0vw; 
}
.letrero2.cursor:hover{
    background-color: #357EA1;
}
.lineaTiempo .opt .wtd{
    width: 8vw;height: 2vw;background-color: #357EA1;position: absolute;z-index: 2;display: flex;top: 2vw;left: 10.5vw;opacity: 0;transition: opacity .5s;
}
.lineaTiempo .opt .wtd span{
    margin: auto;font-size: var(--letra-textos);color: white;
}
.lineaTiempo .opt img:hover + .wtd{
    opacity: 1;
}
.blurSocial .doDont{
    width: 40vw;height: 18vw;background-color: black;margin: auto;display: flex;position: relative;overflow: hidden;cursor: pointer;
}
.blurSocial .doDont span{
    color: white;font-size: var(--letra-textos); margin: auto;text-align: center;width: 80%;
}
.blurSocial .doDont .tituloAzul, .blurSocial .doDont .tituloAzulAl{
    position: absolute;width: 120%; height: 100%; background-image: url("../img/cristhian/imgDoDont.png");background-size: 100% 100%; top: 0%;left: 0%;display: flex;transition: left 0.5s;
}
.blurSocial .doDont .tituloAzul span, .blurSocial .doDont .tituloAzulAl span{
    margin: auto; font-size: var(--letra-titulos); margin-right: 20%;
}
.blurSocial .doDont:hover .tituloAzul{
    left: -115%;
}
.lineaTiempo .divBanderas, .lineaTiempo .divCarros{
    width: 20%; height: 50%;;display: flex;position: relative;
}
.lineaTiempo .divBanderas img, .lineaTiempo .divCarros img{
    width: 60%;height: 80%;margin: auto;cursor: pointer;top: 0vw;position: relative;transition: top .5s;
}
.lineaTiempo .divBanderas .check{
    width: 1.5vw;height: 1.5vw;background-color: white;position: absolute;top: 0vw; right: 1vw;-webkit-box-shadow:0px 0px .5vw .1vw #000000;border-radius: .8vw .8vw;
    box-shadow: 0px 0px .5vw .005vw #000000;background-image: url("../img/cristhian/checkQuiz.png");background-repeat: no-repeat;background-position: center;background-size: 50% 40%;opacity: 0;transition: opacity .5s;
}
.lineaTiempo .divCarros{
    width: 25%;
}
.lineaTiempo .divCarros .place{
    width: 50%;top: 30%;left: 20%;border-radius: 1vw 0vw 0vw 1vw;
    height: 30%;background-color: black;position: absolute;display: flex;
}
.lineaTiempo .divCarros img{
    margin-right: 0%;height: 70%;
}
.lineaTiempo .divCarros .place span{
    margin: auto;margin-left: .5vw;color: white;font-size: var(--letra-textos);
}
.blurSocial .doDont .tituloAzulAl{
    transform: rotate(90deg);
    top: 0%;
    transition: top .5s;height: 109%;left: -10%;
    flex-direction: column;
}
.blurSocial .doDont:hover .tituloAzulAl{
    top: -100%;
}
.blurSocial .doDont .tituloAzulAl span{
    transform: rotate(-90deg);
}