.carteles{
    width: 71vw;
    position: absolute;
    left: 15vw;
    top: 5vw;
    z-index: 0;
}
.edificios{
    position: absolute;
    width: 9vw;
    height: 9vw;
    transform: skew(-420deg,-330deg);
    display: flex;
    z-index: 4;
}
.edificios img{
    width: 80%;
    margin: auto;
    cursor: pointer;
    transition: width .5s;
}
.edificios img:hover{
    width: 87%;
}
.telefonoIn{
    width: 13vw;
    height: 20vw;
    position: absolute;
    right: 14vw;
    bottom: 8vw;
    background-image: url("../img/cristhian/telefono.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}
.telefonoIn .countViajes{
    margin: auto;
    width: 5vw;
    height: 5vw;
    background-color: black;
    margin-bottom: 2vw;
    border-radius: 1vw;
    display: flex;
}
.telefonoIn .countViajes span{
    color: white;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    font-weight: bold;
}