/* tp does */

#uber_tp{
    float: right;
    width: 5%;
    padding: 1%;
}

#contenedor_general{
    position: absolute;
    left: 18%;
    top: 7vw;
    width: 75%;
}

#contenedor_carro_internas{
    position: absolute;
    top: 2vw;
    left: 1%;
    width: 18%;
}

#celular_internas{
    width: 99%;
}

#carro_internas{
    position: absolute;
    right: 30%;
    top: 11%;
    width: 4.5%;
}

#contenedor_btns_menu{
 
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 3%;
    left: -5.3vw;

}

#contenedor_btns_menu img{
    margin-bottom: 6%;
    cursor: pointer;
    height: 70px;
    width: 169px;
}

#contenedor_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cuadro_blanco_estrellas{
    background-color: white;
    width: 51%;
    height: 40px;
    position: absolute;
    bottom: 4vw;
    right: 20%;
}

#contenedor_titulos_generales{
    background-color: black;
    color: white;
    font-size: var(--letra-titulos);
    font-family: UberMoveMedium;
    text-align: center;
    padding: 3%;
    width: 78%;
}

#contenedor_subs_generales{
    color: black;
    font-size: var(--letra-subs);
    font-family: UberMoveMedium;
    margin: 5%;
    display: flex;
    justify-content: center;
}

#circulo_internas{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 30px;
    position: relative;
    right: 11px;
    top: 7px;
}

#botones_colores_does_1{
    display: flex;
    justify-content: center;
}

#botones_colores_does_1 article{
    text-align: center;
    margin-right: -2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns_colores{
    width: 53%;
    cursor: pointer;
}

.contenedores_textos_colores{
    background-image: url(../img/pablo/tp_does/fondo_negro_colores.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: -5px;
    color: white;
    position: relative;
    width: 75%;
    padding: 5%;
    height: 172px;
    display: none;
}

.contenedores_textos_colores #titulos_colores{
    font-family: UberMoveMedium;
    text-align: left;
    font-size: var(--letra-titulos-internos);
    margin-top: 20%;
    margin-bottom: 7%;
}

.contenedores_textos_colores #textos_colores{
    font-family:  _regular;
    text-align: left;
    font-size: var(--letra-textos);
 
}

#btn_continue{
    position: absolute;
    color: black;
    font-size: var(--letra-titulos-internos);
    font-family: UberMoveMedium;
    font-weight: bold;
    text-align: center;
    padding: 1.5%;
    width: 12%;
    right: 2%;
    top: 9vw;
    cursor: pointer;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    display: none;
}

#btn_continue:hover{
    color: white;
    background-color: black;
}

#botones_colores_does_2{
    display: flex;
    justify-content: space-around;
}

.imgs_does_2{
    width: 25%;
    cursor: pointer;
    transition: 0.6s ease;
}

#btn_pride:hover{
    transform: scale(.9);
}

#btn_woman:hover{
    transform: scale(.9);
}

#btn_contigo:hover{
    transform: scale(.9);
}



/* modals */
.modals{
    background-color: #707070bd;
    position: absolute;
    z-index: 5;
    padding: 8%;
    height: 104vh;
    cursor: pointer;
    width: 100%;
    display: none;
}

.contenedor_modal_info{
    display: flex;
    font-family: _regular;
    padding: 5%;
    padding-top: 9%;
}

.contenedor_modal_info_encuesta{
    display: flex;
    font-family: _regular;
    padding: 5%;
    padding-top: 9%;
    box-shadow: inset 0px 0px 0px 14px rgb(255 255 255);
}


.contenido_modals{
    background-color: black;
    color: white;
    font-size: var(--letra-textos-modals);
    width: 84%;
    margin-left: 7%;
    margin-top: -3%;
}

.imgs_modal{
    width: 35%;
}

.contenedor_click_back{
    font-size: var(--letra-textos);
    font-family: UberMoveMedium;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 2%;
}

.titulo_modal{
    background-color: white;
    color: black;
    font-family: UberMoveMedium;
    font-size: var(--letra-titulos);
    text-align: center;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    width: 47%;
    padding: 1%;
    position: relative;
    left: 25%;

}

.texto_modals{
    margin-right: 8%;
}

.equis{
    position: absolute;
    width: 4%;
    top: 11vw;
    right: 14%;
    z-index: 6;
    cursor: pointer;
}

#contenedor_subs_generales_borde{
    color: black;
    font-size: var(--letra-subs);
    font-family: UberMoveMedium;
    margin: 5%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    padding: 5%;
    position: relative;
    bottom: 5vw;
    z-index: -1;
    text-align: center;
}

#contenedor_botones_disc{
    display: flex;
    justify-content: center;
    font-family: UberMoveMedium;
    font-weight: bold;
    font-size: var(--letra-titulos-internos);
    color: white;
    width: 71%;
}

#contenedor_botones_disc article{
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 30%);
    padding: 1.5%;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 32%;
    margin-right: 4%;
}

#contenedor_botones_disc article:hover{
    background-color:#357EA1 ;
}

#parqueadero_disc_2{
    position: absolute;
    right: -1%;
    width: 98%;
    top: 10vw;
}

.carros_disc_2{
    position: absolute;
    width: 17%;
    cursor: pointer;
}

#carro_azul_disc_2{
    right: 55%;
    top: 14vw;
}

#carro_verde_disc_2{
    right: 45%;
    top: 18vw;
}

#carro_blanco_disc_2{
    right: 36%;
    top: 22vw;
}

#carro_negro_disc_2{
    right: 27%;
    top: 27vw;
}

#disc_2{
    position: absolute;
    z-index: 5;
    width: 30%;
    right: 23%;
    top: 9vw;
    display: none;
}

#parqueadero_disc_4{
    position: absolute;
    right: -1%;
    width: 102%;
    top: 12vw;
}

.carros_disc_4{
    position: absolute;
    width: 17%;
    cursor: pointer;
}

#carro_azul_disc_4{
    right: 25%;
    top: 16vw;
}

#carro_verde_disc_4{
    right: 35%;
    top: 20vw;
}

#carro_blanco_disc_4{
    right: 46%;
    top: 24vw;
}

#carro_negro_disc_4{
    right: 56%;
    top: 28vw;
}

#disc_4{
    position: absolute;
    z-index: 5;
    width: 35%;
    right: 40%;
    top: 9vw;
    display: none;
}

.chulos_disc{
    position: absolute;
    width: 5%;
}


#chulo_language{
    left: 22%;
    bottom: 1vw;
}

#chulo_handle{
    left: 48%;
    bottom: 1vw;
}

.contenedor_modal_encuesta{
    font-family: _regular;
    padding: 5%;
    padding-top: 6%;
}

#titulo_encuesta{
    font-family: UberMoveMedium;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

/* encuesta */

.contenedor_respuestas_encuesta{
    padding: 5%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2.3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: -11px;
    height: 33px;
    width: 32px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container .checkmark:after {
    top: 10px;
    left: 9.5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #357EA1;
  }

  .flecha_izquierda_encuesta {
    position: absolute;
    width: 4%;
    top: 11vw;
    right: 14%;
    z-index: 6;
    cursor: pointer;
}

.equis_encuesta_correcto{
    position: absolute;
    width: 4%;
    top: 11vw;
    right: 14%;
    z-index: 6;
    cursor: pointer;
}

#btn_validar{
    color: black;
    width: 26%;
    background-color: white;
    font-size: var(--letra-titulos-internos);
    font-family: UberMoveMedium;
    font-weight: bold;
    text-align: center;
    padding: 1.5%;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    position: relative;
    left: 38%;
    top: 3vw;
}

#btn_validar:hover{
    color: white;
    background-color: black;
}

/* overview */

#texto_over_2{
    color: black;
    font-size: var(--letra-titulos-internos);
    font-family: _regular;
    width: 70%;
    text-align: center;
    margin-top: -6%;
    margin-bottom: 6%;
}

#texto_over_2 span{
   font-family: UberMoveMedium;
}

#know_more{
    color: black;
    width: 17%;
    background-color: white;
    font-size: var(--letra-titulos-internos);
    font-family: UberMoveMedium;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    cursor: pointer;
    width: 17%;
    position: absolute;
    top: 29vw;
    left: 17.5%;
}

#know_more:hover{
    background-color:#357EA1;
    color: white;
}

#contenedor_simbolos_over_3{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
    top: -5vw;
}

.simbolos_over_3{
    width: 15%;
    margin: 3%;
    position: relative;
    opacity: 0;
}

#contenedor_over_4{
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: -6%;
}

#contenedor_over_4 img{
    width: 46%;
}

#contenedor_over_4 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contenedor_modal_over_4{
    display: flex;
    color: white;
    font-size: var(--letra-textos-modals);
    padding: 7%;
}

#contenedor_modal_over_4 img{
    width: 36%;
    margin-bottom: 8%;
}

#contenedor_modal_over_4 article{
    text-align: center;
    margin: 3%;
}

.bad{
    display: none;
}

.contenedor_over_8{
    display: flex;
    justify-content: center;
    margin-top: -4%;
}

.contenedor_over_8 article{
    margin: 3%;
}

.numeros_over_8{
    font-size: 3.5vw;
    color: black;
    font-family: UberMoveMedium;
    font-weight: bold;
    position: relative;
    top: 4vw;
    left: 10%;
    z-index: -1;
}


.simbolos_numeros_over_8{
    cursor: pointer;
    width: 78%;
}

#contenedor_over_9{
    display: flex;
    align-items: center;
    margin-top: 8%;
    margin-left: 3%;
}

.arbol{
    width: 19%;
}


#contenedor_play{
    display: flex;
    justify-content: center;
}

.simbolo_play{
    cursor: pointer;
    width: 29%;
    margin-right: 6%;
}

/* encuesta 2 */

.container_2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2.3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container_2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark_2 {
    position: absolute;
    top: 0;
    left: -11px;
    height: 33px;
    width: 32px;
    background-color: black;
    border-radius: 50%;
    border: 4px solid #3B6FF3;
  }

  /* When the radio button is checked, add a blue background */
.container_2 input:checked ~ .checkmark_2 {
    background-color: black;
  }

  .container_2 input:checked ~ .checkmark_2:after {
    display: block;
  }

  .checkmark_2:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container_2 .checkmark_2:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3B6FF3;
  }

  /* food */

  #contenedor_food{
    background-color: #357EA1;
    padding: 3%;
    width: 68%;
    display: flex;
    justify-content: space-around;
  }

  #contenedor_food img{
    cursor: pointer;
    width: 38%;
  }

  #contenedor_food img:hover{
      transform: scale(.9);
      transition: 0.4s ease;
  }

  #titulo_modals_paises{
    font-size: 4vw;
    font-weight: bold;
    font-family: UberMoveBold;
    color: black;
    text-align: left;
  }


  .animacion_food{
    position: relative;
    top: -31vw;
  }

  .animacion_food_2{
    position: relative;
    top: 32vw;
}

.animacion_clima{
    position: relative;

}

.animacion_clima_2{
    position: relative;

}

#contenedor_sports{
    display: flex;
    width: 46%;
    justify-content: space-around;
    cursor: pointer;
}

.contenedor_item_food{
    background-color: white;
    text-align: center;
    padding: 4%;
    border-radius: 58px;
    box-shadow: 0px 0px 4px 4px #00000036;
    transition: 0.1s ease;
    width: 37%;
}

.contenedor_item_food:hover{
    box-shadow: 0px 0px 0px 11px #357ea1;
}


.contenedor_item_food img{
    width: 58%;

}

#contenedor_titulo_modals_sports{
    display: flex;
    align-items: center;
}

#contenedor_titulo_modals_sports p{
    font-size: 3vw;
    color: black;
    font-family: UberMoveBold;
    margin-right: 7%;
}

#contenedor_titulo_modals_sports img{
    height: 54px;
}

.contenedor_clima{
    display: flex;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    padding: 4%;
    position: fixed;
    top: 70vw;
    justify-content: space-around;
    width: 70%;
    z-index: -1;
}

#contenedor_texto_clima{
    color: black;
    width: 40%;
}

#titulo_clima{
    font-size: var(--letra-titulos);
    font-family: UberMoveMedium;
    text-align: center;
    margin-bottom: 9%;
}

#texto_clima{
    font-size: var(--letra-textos);
    font-family: _regular;
}



.img_clima_numero{
    width: 445px;
}

#contenedor_btns_clima{
    display: flex;
    justify-content: center;
}

#contenedor_btns_clima article{
    background-color: #357EA1;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.5vw;
    width: 47%;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn_mapa_clima{
    width: 16% !important;
    margin-right: 8%;
}

.btn_mapa_clima img{
    height: 41px;
}



.btn_things:hover{
    color: black !important;
    background-color: white !important;
    box-shadow: inset 0px 0px 0px 7px #357ea1;
}

.btn_mapa_clima:hover{
    background-color: white !important;
    box-shadow: inset 0px 0px 0px 7px #357ea1;
}

#contenedor_listen_language{
    display: flex;
    color: black;
    font-family: UberMoveMedium;
    font-weight: bold;
    font-size: 2.5vw;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    cursor: pointer;
}

#contenedor_listen_language img{
    height: 42px;
    margin-right: 2%;
}


#usa_audios{
    display: flex;
    color: black;
    font-size: var(--letra-textos);
    font-family: UberMoveMedium;
    font-weight: bold;
    position: fixed;
    top: 12vw;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    padding: 7%;
    width: 70%;
   display: flex;
   opacity: 0;
    justify-content: space-between;
    align-items: center;
}

#usa_audios img{
    height: 48px;
    cursor: pointer;
    margin-right: 7%;
}

#contenedor_play_south{
    display: flex;
}

#usa_audios article div{
    display: flex;
    align-items: center;
    margin-bottom: 32%;
    width: 127%;
}