/* tp does */

#uber_tp{
    float: right;
    width: 14%;
    padding: 1%;
}

#contenedor_general{
    position: absolute;
    left: 18%;
    top: 7vw;
    width: 75%;
}

#contenedor_carro_internas{
    position: absolute;
    top: 2vw;
    left: 1%;
    width: 18%;
}

#celular_internas{
    width: 99%;
}

#carro_internas{
    position: absolute;
    right: 35%;
    top: 21%;
    width: 4.5%;
}

#contenedor_btns_menu{
 
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 3%;
    left: -5%;

}

#contenedor_btns_menu img{
    width: 91%;
    margin-bottom: 6%;
    cursor: pointer;
}

#contenedor_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor_titulos_generales{
    background-color: black;
    color: white;
    font-size: var(--letra-titulos);
    font-family: UberMoveMedium;
    text-align: center;
    padding: 3%;
    width: 78%;
}

#contenedor_subs_generales{
    color: black;
    font-size: var(--letra-subs);
    font-family: UberMoveMedium;
    margin: 5%;
    display: flex;
    justify-content: center;
}

#circulo_internas{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 30px;
    position: relative;
    right: 11px;
    top: 7px;
}

#botones_colores_does_1{
    display: flex;
    justify-content: center;
}

#botones_colores_does_1 article{
    text-align: center;
    margin-right: -2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns_colores{
    width: 53%;
    cursor: pointer;
}

.contenedores_textos_colores{
    background-image: url(../img/pablo/tp_does/fondo_negro_colores.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: -5px;
    color: white;
    position: relative;
    width: 75%;
    padding: 5%;
    height: 172px;
    display: none;
}

.contenedores_textos_colores #titulos_colores{
    font-family: UberMoveMedium;
    text-align: left;
    font-size: var(--letra-titulos-internos);
    margin-top: 20%;
    margin-bottom: 7%;
}

.contenedores_textos_colores #textos_colores{
    font-family:  _regular;
    text-align: left;
    font-size: var(--letra-textos);
 
}

#btn_continue{
    position: absolute;
    color: black;
    font-size: var(--letra-titulos-internos);
    font-family: UberMoveMedium;
    font-weight: bold;
    text-align: center;
    padding: 1.5%;
    width: 12%;
    right: 2%;
    top: 9vw;
    cursor: pointer;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    display: none;
}

#btn_continue:hover{
    color: white;
    background-color: black;
}

#botones_colores_does_2{
    display: flex;
    justify-content: space-around;
}

.imgs_does_2{
    width: 25%;
    cursor: pointer;
    transition: 0.6s ease;
}

#btn_pride:hover{
    transform: scale(.9);
}

#btn_woman:hover{
    transform: scale(.9);
}

#btn_contigo:hover{
    transform: scale(.9);
}



/* modals */
.modals{
    background-color: #707070bd;
    position: absolute;
    z-index: 5;
    padding: 8%;
    height: 100vh;
    cursor: pointer;
    display: none;
}

.contenedor_modal_info{
    display: flex;
    font-family: _regular;
    padding: 5%;
    padding-top: 9%;
}

.contenido_modals{
    background-color: black;
    color: white;
    font-size: var(--letra-textos-modals);
    width: 84%;
    margin-left: 7%;
    margin-top: -3%;
}

.imgs_modal{
    width: 35%;
}

.contenedor_click_back{
    font-size: var(--letra-textos);
    font-family: UberMoveMedium;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 2%;
}

.titulo_modal{
    background-color: white;
    color: black;
    font-family: UberMoveMedium;
    font-size: var(--letra-titulos);
    text-align: center;
    box-shadow: 0px 0px 2px 3px rgb(112 112 112 / 57%);
    width: 47%;
    padding: 1%;
    position: relative;
    left: 25%;

}

.texto_modals{
    margin-right: 8%;
}

.equis{
    position: absolute;
    width: 4%;
    top: 2vw;
    left: 2%;
    cursor: pointer;
}


