/* Fuentes */
@font-face {
    font-family: Sancoale;
    src: url("../font/Sancoale/Sancoale\ Softened.ttf");
}
@font-face {
    font-family: UberMoveBold;
    src: url("../font/Uber/UberMoveBold.otf");
}
@font-face {
    font-family: UberMoveMedium;
    src: url("../font/Uber/UberMoveMedium.otf");
}

i{
    margin-right: 4%;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Sancoale;
    background: white;
}
.animsition{
    transition: opacity .5s;
}
.screen{
    height:51vw;
    width: 100vw;
    margin:auto; 
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
}
.cuadricula{
    width: 46vw; height: 25vw; margin: auto;  z-index: 0; position: relative;display: grid;transform: skew(420deg,330deg); left: 1vw; top: -4vw;
    grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;
}
.cuadricula .celda{
    width: 5vw; height: 3vw; outline: .1vw solid red;margin: 0;
}