@keyframes fade-in-down {
  0% {
    transform: translateY(-500px);
    
  }
  100% {
    transform: translateY(0);
    
  }
}


.fade-in-down {
  animation-name: fade-in-down;
}


@keyframes fade-out-down {
  0% {
    transform: translateY(0);
    
  }
  100% {
    transform: translateY(100vh);
   
  }
}


.fade-out-down {
  animation-name: fade-out-down;
}
